// COLORS
$primary-color: #006e7f;
$secondary-color: #ee5007;

$white-color: #fff;

$dark-grey: #333333;
$light-grey: #f8cb2e;

$dark-blue-text: #b22727; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
